<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/edit.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="index"><a href="../index.html">个人博客</a></div>
            <div class="nav">
                <ul>
                    <li><a href="../index.html">首页</a></li>
                    <li><a href="./sitmap.html">地图</a></li>
                    <li><a href="./about.html">关于</a></li>
                    <li><a href="#">留言</a></li>
                </ul>
            </div>
            <div class="search">
                <input type="text" placeholder="输入关键词查找">
                <button>搜索</button>
            </div>
        </div>
    </header>
    <div class="bodyer">
        <div class="left">
                <div class="edit">
                  <h3>文本编辑器<br/></h3>
                  <hr/>
                  <textarea id="editText" placeholder="请输入文本..."></textarea>
                </div>
                <button onclick="submitText()">添加</button>
        </div>
        <div class="right">
            <div class="module" id="random_cloud">
                <span class="title">{{title}}</span>
                <div class="random_list random_tag">
                    <a href="" v-for="tag in tags" :style="{color:color(),fontSize:size()}">{{tag}}</a>
                </div>
            </div>
            <div class="module" id="hot_news">
                <span class="title">{{title}}</span>
                <div class="random_list">
                    <ul class="hot">
                        <li :class="{underline:item.underline}" v-for="item in news"><a href="">{{item.content}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="module" id="new_common">
                <span class="title">{{title}}</span>
                <div class="random_list">
                    <div v-for="item in common" :class="{underline:item.underline}" class="common">
                        <div class="title">
                            <span>{{item.title}}</span>
                            <span>{{item.date}}</span>
                        </div>
                        <div class="desc"><a href="">{{item.desc}}</a></div>
                    </div>
                </div>
            </div>
            <div class="module">
                <span class="title">友情链接</span>
                <div class="random_list">
                    <div class="link underline">
                        <div class="title">
                            <a>挨踢茶馆</a>
                            <a>个人博客</a>
                            <a>佛布朗斯基</a>
                        </div>
                    </div>
                    <div class="link underline">
                        <div class="title">
                            <a>挨踢茶馆</a>
                            <a>个人博客</a>
                            <a>佛布朗斯基</a>
                        </div>
                    </div>
                    <div class="link">
                        <div class="title">
                            <a>挨踢茶馆</a>
                            <a>个人博客</a>
                            <a>佛布朗斯基</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <ul>
            <li><a>C/C++</a></li>
            <li><a>C/C++</a></li>
            <li><a>编程基础</a></li>
            <li><a>C/C++</a></li>
            <li><a>C/C++</a></li>
            <li><a>Javacript</a></li>
            <li><a>C/C++</a></li>
            <li><a>编程基础</a></li>
            <li><a>C/C++</a></li>
            <li><a>C/C++</a></li>
            <li><a>Javacript</a></li>
            <li><a>C/C++</a></li>
            <li><a>编程基础</a></li>
            <li><a>C/C++</a></li>
            <li><a>C/C++</a></li>
            <li><a>C/C++</a></li>
            <li><a>wordpress</a></li>
            <li><a>C/C++</a></li>
            <li><a>C/C++</a></li>
            <li><a>wordpress</a></li>
        </ul>
        <P>Copyright © 2010-2020 个人博客 All rights reserved. 由免费开源的WordPress强力驱动. 鲁ICP备14017955号站长统计</P>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../Js/base.js"></script>
<script src="../Js/jquery.js"></script>
<script src="../Js/edit.js"></script>
</html>